[submodule "router"]
	path = router
	url = git@github.com:aragaer/pa_router.git
[submodule "brain"]
	path = brain
	url = git@github.com:aragaer/pa_brain.git
[submodule "pa2human"]
	path = pa2human
	url = git@github.com:aragaer/pa2human.git
